aws_region = "us-east-1"
project    = "blog"

# S3
media_bucket_name    = "miguel-anay-media"
frontend_bucket_name = "miguel-anay-blog"

# Lambda
lambda_zip_path  = "../blog-api/dist/handler.zip"
lambda_memory_mb = 512
lambda_timeout_s = 10

# Secrets (nunca commitear el terraform.tfvars real)
turso_url          = "libsql://your-db.turso.io"
turso_token        = "your-turso-auth-token"
api_secret         = "your-long-random-secret"
resend_api_key     = "re_your-resend-key"
resend_audience_id = "your-resend-audience-id"
site_url           = "https://miguel-anay.nom.pe"
