---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__cols">
      <div class="site-footer__col">
        <div class="site-footer__col-h"># sitio</div>
        <a href="/" class="site-footer__link">./</a>
        <a href="/blog" class="site-footer__link">./blog</a>
        <a href="/about" class="site-footer__link">./about</a>
        <a href="/cv" class="site-footer__link">./cv</a>
      </div>
      <div class="site-footer__col">
        <div class="site-footer__col-h"># suscribirse</div>
        <a href="/rss.xml" class="site-footer__link">rss</a>
      </div>
      <div class="site-footer__col">
        <div class="site-footer__col-h"># elsewhere</div>
        <a href="https://github.com/miguel-anay" target="_blank" rel="noopener" class="site-footer__link">github.com/miguel-anay</a>
        <a href="https://www.linkedin.com/in/miguel-anay" target="_blank" rel="noopener" class="site-footer__link">linkedin.com/in/miguel-anay</a>
        <a href="https://www.youtube.com/@M1Anay" target="_blank" rel="noopener" class="site-footer__link">youtube.com/@M1Anay</a>
      </div>
      <div class="site-footer__col">
        <div class="site-footer__col-h"># colofón</div>
        <span class="site-footer__text">Astro · Turso</span>
        <span class="site-footer__text">Vercel · Azure DevOps</span>
        <span class="site-footer__text">Lima, PE</span>
      </div>
    </div>
    <div class="site-footer__bottom">
      <span>{`// © ${year} Miguel Angel Anay Gomez · todos los derechos reservados`}</span>
      <span>built with care</span>
    </div>
  </div>
</footer>
